
body {
    font-family: sans-serif;
  }
  
  header {
    background-color: rgb(131, 236, 11);
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  .profile {
    text-align: center;
}

.profile img {
    max-width: 200px;
}

.profile h2 {
    margin-top: 10px;
}
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    text-decoration: underline;
  }
  
  table.zebra-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table.zebra-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  span.highlight {
    color: red;
    font-weight: bold;
  }
  
  .quote {
    margin-top: 20px;
    padding: 10px;
    background-color: #eee;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
